{
  "plugins": [ 
    "transform-decorators-legacy",
    "transform-es2015-destructuring",
    "transform-es2015-modules-commonjs",
    "transform-es2015-parameters",
    "transform-es2015-sticky-regex",
    "transform-es2015-unicode-regex",
    "transform-strict-mode"
  ]
}
