{{> header}}

<h4 class="alert alert-danger">
    {{message}}
</h4>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#stackTrace" aria-controls="home" role="tab" data-toggle="tab">Stack Trace</a>
        </li>
        <li role="presentation">
            <a href="#cookies" aria-controls="profile" role="tab" data-toggle="tab">Cookies</a>
        </li>
        <li role="presentation">
            <a href="#headers" aria-controls="messages" role="tab" data-toggle="tab">Headers</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="stackTrace">
            <table class="table table-striped">
                <tbody>
                    {{#stack}}
                    <tr>
                        <td>{{.}}</td>
                    </tr>
                    {{/stack}}
                </tbody>
            </table>                    
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="cookies">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    <tr>
                <thead>
                <tbody>
                    <tr>                            
                    {{#cookies}}
                        <td>{{name}}</td>
                        <td>{{value}}</td>
                    {{/cookies}}
                    {{^cookies}}
                        <td colspan="2" class="alert alert-info">No cookies</td>
                    {{/cookies}}                                                                 
                    </tr>                                                                
                </tbody>
            </table>                                                          
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="headers">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    <tr>
                <thead>
                <tbody>
                    {{#headers}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {{/headers}}
                </tbody>
            </table>   
        </div>
    </div>

</div>
        
{{> footer}}        
