 <html>
    <head>
    
    </head>
    <body>
        <h2>Routes</h2>
        <table>
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Path</th>
                    <th>Controller</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {{#routes}}
                <tr>
                    <td>{{httpMethods}}</td>
                    <td>{{routePath}}</td>
                    <td>{{controllerName}}</td>
                    <td>{{actionName}}</td>
                </tr>
            {{/routes}}    
            </tbody>
        </table>
    </body>
 </html>